.header-continer {
  min-height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .left-botton {
    padding: 16px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    cursor: pointer;
    color: #2e2e2e;
    transform: color 1000s;
    &:hover {
      animation-name: color;
      animation-duration: 0.5s;
      animation-fill-mode: forwards;
    }
  }
  .conting-right-bottons {
    display: flex;
    flex-direction: row;
    .buttons-header {
      color: #2e2e2e;
      padding: 16px;
      font-weight: 700;
      font-size: 12px;
      cursor: pointer;
      text-transform: uppercase;
      letter-spacing: 0.2em;
      &:hover {
        animation-name: color;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
      }
    }
  }
  .mobile-menu {
    height: 100%;
    display: flex;
    align-items: center;
    margin-right: 15px;
    cursor: pointer;
    &:hover {
      animation-name: color-manu;
      animation-duration: 0.5s;
      animation-fill-mode: forwards;
    }
  }
  .drop-menu {
    position: fixed;
    transition: transform 0.8s;
    height: 100vh;
    width: 80vw;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    right: 0px;
    .drop-menu-close-but {
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer;
      &:hover {
        animation-name: color-manu;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
      }
    }
    .conting-menu-tabs {
        margin-top: 50px;
        .menu-tabs {
            color: #2e2e2e;
            padding: 20px;
            font-weight: 700;
            font-size: 15px;
            cursor: pointer;
            text-transform: uppercase;
            letter-spacing: 0.2em;
            text-align: center;
            &:hover {
              animation-name: color;
              animation-duration: 0.5s;
              animation-fill-mode: forwards;
            }
        }
    }
  }
  .drop-menu-close {
    transform: translateX(100vw);
  }
  .drop-menu-open {
    transform: translateX(0vw);
  }
}
@keyframes color {
  to {
    color: #0096cc;
  }
  to {
    background-color: #e7eef2;
  }
}
@keyframes color-manu {
  to {
    color: #0096cc;
  }
}
