<hr />
<div class="footer-continer">
  <div class="left-contect">© 2020 Shimon Levinshtein.</div>
  <div class="right-cintect">
    <a
      class="footer-box-link"
      href="https://www.linkedin.com/in/shimon-levinshtein-52732b1b6"
      target="_blank"
    >
      <i class="fa-brands fa-linkedin fa-1x"></i>
    </a>
    <a
      class="footer-box-link"
      href="https://github.com/Shimon-Levinshtein"
      target="_blank"
    >
      <i class="fa-brands fa-github-square fa-1x"></i>
    </a>
    <a
      class="footer-box-link"
      href="https://wa.me/972547459786"
      target="_blank"
    >
      <i class="fa-brands fa-whatsapp-square fa-1x"></i>
    </a>
    <a
      class="footer-box-link"
      href="mailto: shimonwebdeveloper@gmail.com"
      target="_blank"
    >
      <i class="fa-solid fa-square-envelope fa-1x"></i>
    </a>
    <a class="footer-box-link" href="tel:+972547459786" target="_blank">
      <i class="fa-solid fa-square-phone fa-1x"></i>
    </a>
  </div>
</div>
