/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
body {
    margin: 0px;
    font-family: open sans, sans-serif;
}

.is-mobile {
    display: none;
}

@media only screen and (max-width: 600px) {
    .not-nobile { 
        display: none !important;
    }
    .is-mobile {
        display: block !important;
    }
}