<div class="continer-home-page">
  <div class="top-continer">
    <div class="imag-continer">
      <img src="/assets/imges/myimag.jpg" alt="developer" />
    </div>
    <h1 class="page-title">Shimon Levinshtein</h1>
    <p>Full Stack Developer</p>
  </div>
  <div class="middle-continer">
    <div class="middle-continer-about-me-box">
      <div class="middle-continer-title">About me</div>
      <div class="middle-continer-about-me-text">
        I entered the high-tech world thanks to a big company called Iprint that
        automated its entire system to Paul and gave me a chance to enter the
        world of programming, after I went to the big programming hall I built
        some projects from scratch, my projects are listed the "Prokets" page,
        then I joined a big company called RavTech and there I developed Fruits
        Composed for large companies including Adam Milo and Personetics.
      </div>
    </div>
  </div>
</div>
