<div class="continer-home-page">
  <div class="top-continer">
    <div class="imag-continer">
      <img src="/assets/imges/myimag.jpg" alt="developer" />
    </div>
    <h1 class="page-title">Shimon Levinshtein</h1>
    <p>Full Stack Developer</p>
  </div>
  <div class="middle-continer">
    <div class="middle-continer-about-me-box">
      <div class="middle-continer-title">About me</div>
      <div class="middle-continer-about-me-text">
        I entered the high-tech world thanks to a big company called "Iprint",
        "Iprint" has developed all of its systems for full Automation they gave
        me a big chance to reach the world of development, After that I went out
        into the big high-tech world, And I developed some complex systems, My
        projects are on the "Projects" page, then I joined a big company called
        RavTech and there I developed web sites for big companies including Adam
        Milo and Personetics.
      </div>
    </div>
    <div class="middle-continer-contact-box">
      <div class="contact-title">Contact</div>
      <br />
      <a
        class="contact-box-link"
        href="https://www.linkedin.com/in/shimon-levinshtein-52732b1b6"
        target="_blank"
      >
        <i class="fa-brands fa-linkedin fa-2x"></i>
        <div class="contact-text-item">LinkedIn</div>
      </a>
      <a
        class="contact-box-link"
        href="https://github.com/Shimon-Levinshtein"
        target="_blank"
      >
        <i class="fa-brands fa-github-square fa-2x"></i>
        <div class="contact-text-item">GitHub</div>
      </a>
      <a
        class="contact-box-link"
        href="https://wa.me/972547459786"
        target="_blank"
      >
        <i class="fa-brands fa-whatsapp-square fa-2x"></i>
        <div class="contact-text-item">WhatsApp</div>
      </a>
      <a
        class="contact-box-link"
        href="mailto: shimonwebdeveloper@gmail.com"
        target="_blank"
      >
        <i class="fa-solid fa-square-envelope fa-2x"></i>
        <div class="contact-text-item">Email</div>
      </a>
      <a
        class="contact-box-link"
        href="tel:+97547459786"
        target="_blank"
      >
        <i class="fa-solid fa-square-phone fa-2x"></i>
        <div class="contact-text-item">Phone</div>
      </a>
    </div>
  </div>
</div>
